/* custom-calendar.css */
/* body {
    background-color: rgb(247, 214, 238); 
  }   */

.rbc-day-slot .rbc-event {
    border: none !important;
}

.rbc-event {
    background-color: #e4baf5 !important; 
    color: #f9ecf9 !important;
  }
  